.Login .hero.is-success {
  background: none;
}
.Login .hero .nav,
.Login .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Login .box {
  margin-top: 5rem;
}
.Login .avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.Login .avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.Login input {
  font-weight: 300;
}
.Login p {
  font-weight: 700;
}
.Login p.subtitle {
  padding-top: 1rem;
}
